body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media (max-width: 640px) {
	.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

.ui-panelgrid.panelgrid-noborder .ui-grid-responsive  {
	border: none;
}

.ui-panelgrid-cell > .ui-panel {
	border: none;
}

/* schedule */
div.fc-scroller.fc-time-grid-container {
	overflow: hidden scroll !important;
	height: 1535px !important;
}

.ui-state-disabled {
	opacity: .60 !important;
}

.ui-button.ui-state-disabled:hover {
	background:#009DF4 !important;
}
.ui-button.ui-state-disabled:active {
	cursor:none;
	position:none;
	top:0px;
}

.ui-button.ui-state-disabled.botaoLaranja:hover {
	background:#fe6c14 !important;
}

.ui-button.ui-state-disabled.botaoVerde:hover {
	background:#16a765 !important;
}

.ui-button {
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color:#ffffff !important;
	background:#009DF4 !important;
	border-radius:4px 4px 4px 4px !important;
	text-shadow: none !important;
}
.ui-button:hover{
	background:#428bca!important;
}
.ui-button:active{
	cursor:pointer;
	position:relative;
	top:2px;
}

.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-right.ui-state-active{
	background:#fe6c14 !important;
}
.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-left.ui-state-active{
	background:#fe6c14 !important;
}

.botaoVerde{
	background:#16a765 !important;
}

.botaoVerde:hover{
	background:green !important;
}

.botaoLaranja{
	background:#fe6c14 !important;
}

.botaoLaranja:hover{
	background:#ef3723!important;
}

.linkDashboard {
	text-decoration: none;
	float: right;
}

.ui-panelmenu .ui-panelmenu-header a{
	text-decoration: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {	
	background-image: none !important;
}
.ui-panelmenu-panel > h3 {
	border: none !important;
}

.menuBarConfig {
	border: none !important;
	background-image: none !important;
	background: none !important;
	width:80px; float:right;
	float:right;
}

.menuBarConfig > .ui-menu.ui-widget li.ui-corner-all, .ui-menu.ui-widget a.ui-corner-all {
	color: white;
}

.detalheItem {
	color: #333333 !important;	
}

.ui-button .ui-icon{
	background-image: url("images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-omega");
}

.ui-menu .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-omega");
}

.panel-no-border{
	border: none !important;
	padding: .0e.m 0em;
	margin: 0px;
	background-color: pink;
	text-align: left;
}

.panel-valorreceber{
	text-align: center;
	color: #428bca;
	
}

.ajax-status {
	position: fixed;
	top: 60px;
	right: 30px;
	width: 35px;
	height: 35px;	
	z-index:10000;
}

.itemScheduleConcluido {
	background: green !important;
}

.itemScheduleCancelado{
	background: red !important;
}

@media (max-width: 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}
